@* @model ErrorViewModel *@

@{
    ViewData["Title"] = "Lỗi";
}

<div class="text-center mt-5">
    <h1 class="text-danger">Đã xảy ra lỗi</h1>
    <p class="lead">Xin lỗi, đã có lỗi trong quá trình xử lý yêu cầu của bạn.</p>

    @* @if (Model.ShowRequestId) *@
    @* { *@
    @*     <p><strong>Mã yêu cầu:</strong> <code>@Model.RequestId</code></p> *@
    @* } *@

    <a href="@Url.Action("Index","Statistics")" class="btn btn-primary mt-3">Quay lại trang chủ</a>
</div>
